html {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

body {
    margin: 0;
}

#main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 400px;
    background-color: black;
}

#display {
    display: flex;
    width: 299px;
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border: none;
    border-radius: 2px;
}

#num-0 {
    width: 120px;
}

#c {
    background-color: rgb(250, 250, 160);
}

#op-int {
    padding: 28px 11px 23px 11px;
    font-size: 20px;
}

#ac {
    padding-left: 11px;
    padding-right: 11px;
    background-color: rgb(248, 88, 88);
}

.opn {
    background-color: rgb(252, 178, 109);
}